body {
    font-family: 'DM Sans', sans-serif;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    color: #44474E;
    padding-top: 10px;
    padding-left: 45px;
    gap: 10px;
}

#pin {
    width: 45px;
}

#map {
    border-radius: 30px;
    width: 50%;
    height: 70vh;
    margin-left: 45px;
    margin-top: 15px;
    z-index: 999;
}

#infos {
    width: 60%;
    color: #44474E;
    font-weight: 650;
}

.carte {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#textTitleZone {
    font-size: 22px;
    color: #44474E;
}

.nomLieu {
    color: #D4451B;
}

.elementCarte {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texteLieu {
    flex-direction: column;
}

.itineraireImg {
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: 10%;
}