.row{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-right: solid 5px #282F63;
    border-radius: 30px;
    text-decoration: none ;    
}

.box_feature{
    width: 250px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: #282F63;
    border-radius: 50px;
    color: white;
    font-family: "DM Sans";
}

.logo-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.logo-icon-titre{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: row;
}

.input-field{
    width: 200px;
    height: 30px;
    font-family: "DM Sans";
    margin-bottom: 20px;
    padding-left: 10px;
    border: solid 3px #44474E;
    border-radius: 30px;
}

.valeur-option{
    font-family: "DM Sans", sans-serif; 
}

.image{
    max-width: 300px;
    max-height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;

}

.image-container{
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: rgb(189, 186, 186);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    left: -25px;
}

.form {
    position: sticky;
    width: 300px;
    top: 20px;               
    align-self: flex-start;  /* évite l'étirement si parent en flex */
    font-family: "DM Sans";
    padding-left: 40px;
    padding-right: 20px;

}

.boutonFiltre {
    background-color: #282F63;
    color: rgb(245, 229, 229);
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease;
    margin-top: 10px;
}

.boutonFiltre:hover {
    background-color: #D4451B;
    border: solid 3px black;
}

#features-wrapper a,
#features-wrapper a:link,
#features-wrapper a:visited,
#features-wrapper a * {
    text-decoration: none;
}

