body {
    background-image: url("../image/Background/BackgroundSelecProfil.png");

    min-height: 100vh;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #44474E;
}

.container {
    background-color: white;
    width: calc(100vw - 120px);
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin: 73px auto 73px auto;
}

.contenu {
    margin-left: 40px;
}

#iconeDon {
    width: 40px;
    height: 40px;
}